body, html {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 160%;
  height: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}
html * {
    box-sizing: border-box;
}

html {
        box-sizing: border-box;
}

.row {
    position: relative;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #36C;
}

.container {
	width: 100%;
    max-width: 375px;
    margin: 0 auto;
  	padding: 0;
  	height: 100%;
}

#content {
    font-size: 16px;
     line-height: 28px;   
    
}
.text-center {
	text-align: center;
}

#topBar, #shortTopBar {
	height: 44px;
	padding: 5px 0 50px 0;
	border-bottom: 1px #ccc solid;
	background-color: #fff;
	color: #444;
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
	box-sizing: border-box;
}

.shortTopTitle {
    font-size: 17px;
  	pointer-events: none;
}

.shortTopTitle img {
	padding:10px;
}

.shortTopContainer {
	list-style-type: none;
	padding: 0;
	margin: -7px 10px;
}

.shortTopContainer li {
	display: inline-block;
	padding: 10px;
}

.shortTopContainer li:first-child  {
	width: 25%;
}

.search-input {
	width: 70%;
  	border-radius: 6px;
	height: 30px;
	border: 1px #ccc solid;
	margin-right: 5px;
	padding: 0 7px;
    font-size: 70%;
}

#searchIcon {
	margin: 2px 15px 0 0;
}

#searchBar {
	padding: 7px;
	background-color: #e4e4e4;
	border-bottom: 1px #ccc solid;
	font-size: 120%;
	margin-top: -30px;
}

.searchResults {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.searchResults li {
	height: 30px;
	padding: 15px 10px 10px 10px;
	border-bottom: 1px #ccc solid;
}

#recentSearches-li {
	font-weight: bold;
}

#bottomBar {
	height: 45px;
	background-color: #e4e4e4;
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 1px #ccc solid;
	padding:7px;
	box-sizing: border-box;
}

header.header {
    height: 50px;
    width: 100%;
    background-color: #EAEBEE;
    padding: 7px;
    
    
}

.tools {
    margin: 0;
    padding: 0;
}
.tools li{
    list-style: none;
    display: block;
    float: left;
    background: #fff;
    height: 34px;
    line-height: 24px;
    margin-left: 10px;
    border-radius: 3px;
    padding: 5px;
}
.tools li:first-child {
    margin-left: 0;
}

.tools li.menu {
    width: 45px;
    background-image: url(menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.tools li.search:before {
    content: " ";
    position: absolute;
    left: 10px;
    top: 9px;
    display: block;
    height: 16px;
    width: 16px;
    background-image: url(search.svg);
    background-size: 16px 16px;
    opacity: 0.2;
    
}
.tools li.search {
    position: relative;
    width: 300px;
    color: #aaa;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left;
    back
}

footer.preview-card {
    height: 250px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    width: 375px;
    box-shadow: 0px -2px 3px rgba(0,0,0,0.2);
    font-size: 14px;

}

.button.primary-button {
    background: #347bff;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    padding: 0.5em 1em;
}

.button.secondary-button  {
    color: #999;
    padding: 0.5em 1em;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 2px;
}

.preview-card .button {
    margin-left: 15px;
}
.preview-card .card-description {
    margin-bottom: 15px;
}


.fRight {
    float: right;
}
.preview-card h1 {
    font-family: serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.fa-search {
	vertical-align: top;
	margin-top: 3px;
	margin-left:5px;
}

.backdrop {
	position: absolute;
	z-index: 9999;
}

.nav {
	font-size: 140%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.upperSearch, .upperMenu {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
}

.upperSearch {
	margin-top: -8px;
}

.upperMenu {
	margin-top: 7px;
	color: #000;
}

.browseArrows, .engageIcons {
	margin-top: 10px;
	padding: 0 5px;
}

.browseArrows i, .engageIcons i {
	padding: 0 15px;
}

.red {
	color: red;
}

#shortTopBarNav, #bottomBarNav, #articleActionNav {
	list-style-type: none;
	width:100%;
	margin:0;
	padding:0;
}

#shortTopBarNav li {
	width: 32%;
	height: 100%;
	display: inline-block;
}

#bottomBarNav li {
	width: 49%;
	height: 100%;
	display: inline-block;
}

#shortTopBarNav li:last-child {
	float: right;
	margin-top: 7px;
}

#articleActionNav li {
	padding:0;
	margin:0;
	width:30%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.hide {
	display: none;
}

#sideNav {
	background-color: #000;
	color: #f5f5f5;
	padding: 10px;
	height: 100%;
	overflow: hidden;
}

.sideNavList {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sideNavList li {
	height: 30px;
	font-size: 150%;
	padding: 10px;
}

#sideNav a {
	color: #f5f5f5;
}

#sideNav .goBack {
	margin: 25px 15px;
}

.moreBtn {
  	bottom: 10px;
  	background-color: rgba(255,255,255,0.2);
  	width: 65px;
  	padding: 7px;
  	margin-left: 10px;
  	position: absolute;
}

#savedFavorite {
	height: 20px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	font-size: 9px;
	color: #fff;
	line-height: normal;
	position: fixed;
	width: 100%;
	bottom: 40px;
}

#savedFavorite p {
	margin: 3px;
	letter-spacing: .04em;
}

.contributeBtn {
}

.notification {
	display: inline-block;
	background: #da2929;
	border-radius: 3px;
	height: 16px;
	width: 10px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 0 3px;
	line-height: 16px;
	position: relative;
	right: 6px;
	top: -12px;
}

.ThankYou {
	display: none;
	z-index: -9999;
}

#ThankYouMessage {
    position: absolute;
    width: 296px;
    height: 85%;
    background-color: #fff;
    color: #555;
    padding: 10px;
    top: 12px;
    left: 10px;
    box-sizing: border-box;
    font-weight: lighter;
}

#ThankYouMessage h1 {
	font-family: Georgia;
	margin-bottom: 10px;
}

.thankYouX {
	position: absolute;
	right: 6;
	top: 5px;
	left: 260px;
}

.donateButton {
	position: fixed;
	bottom:20px;
	height:25px;
	width: 270px;
}

.button {
	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 1.42857143;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	-ms-touch-action: manipulation;
  	touch-action: manipulation;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	background-image: none;
  	border: 1px solid transparent;
}

.button-blue {
	background-color: #5bc0de;
}

.button-block {
	width: 100%;
}

#leadingImage {
	position: relative;
    width: 100%;
    height: 195px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url('lead-image.jpg');
    background-size: cover;
}

#leadingImage:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
}

#firstHeading:before {
	content: " ";
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.mediawiki {
	padding: 10px 12px;
}

.firstHeading {
	font-family: Georgia;
	font-weight: lighter;
	padding: 15px 20px;
	position: absolute;
    bottom: 0;
    color: #fff;
    line-height: 200%;
}

.mainTitle {
	font-size: 26px;
    font-family: "Hoefler Text", Georgia, sans-serif;
    margin-top: 10px;
    
}

.mainTitle a {
	color: #fff;
}

.gradientBox {
	display: inline-block;
	overflow: hidden;
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	/*background: linear-gradient(0deg, #474747 60%, #fafafa);*/
}

.subTitle {
	font-size: 14px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.divider {
    width: 50px;
    height: 1px;
    margin: 0px 0px 15px 0px;
    background: #ddd;
}

.leadText {

}



.infobox {
	background-color: #fff;
	border: 1px #dbdbdb solid;
    width:100%;
    margin: 20px 0px;
    
}

.infobox table {
    width: 100%;
    border: none;
}


.mainArticle {
    
}

.moreSearch {
	width:100%;
}

.gallery {
	list-style-type: none;
	margin-left: -1.5em;
}

#tweetAFact {
	position: fixed;
	z-index: 10;
	bottom: 20px;
	color: blue;
	width: 100%;
}

.shareFact {
	background-color: #fff;
	border-radius: 4px;
	margin: .55em;
}

#shareImgContainer {
	border: 1px solid #ccc;
	border-radius: 4px;
}

#shareImg {
	padding: 7px;
}

#shareImgBtn {
	border-top: 1px solid #ccc;
}

#shareImgBtn p, #shareAsText p {
	margin: 7px 0;
}

#shareImgContainer, #shareAsText {
	font-size: 120%;
	text-align: center;
	width: 300px;
	padding: 3px 0;
}

.page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -9999;
    top: 0;
    left: 0;
}

.title {
	padding: 10px 0;
	color: rgba(0,0,0,0.8);
}

.card {

	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	min-height: 120px;
	background-color: #fff;
	margin: 2em 0.8em 2em 0.8em;
    border-radius: 2px;
    overflow: hidden;

}

.cardPhoto {
	display: inline-block;
	padding: 7px 15px 7px 0;
}

.fullCardPhoto img {
	width: 100%;
}

.feeds {
	padding: 10px 0 20px 0;
}

.card h1, .card h2, .card h3,
.card h4, .card h5 {
	line-height: 180%;
}

.card h4, .card h5 {
	color: rgba(0,0,0,0.6);
}

.card h2, #featuredArticle h2 {
	font-family: Helvetica;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
}

#featuredArticle h4 {
	color: rgba(0,0,0,0.4);
}

.card h2 a {
	color: rgba(0,0,0,0.6);
}

.nearby {
	padding: 5px;
	box-sizing: border-box;
}

.nearby img {
	margin-top: -5px;
}

.nearby h2 {
	line-height: 130%;
	margin-top:12px;
	font-family: Georgia;
}

.cardText {
	padding: 12px;
	display: inline-block;
	box-sizing: border-box;
}

.cardText p {
	color: rgba(0,0,0,0.7);
	line-height: 20px;
    font-size: 13px;
}

.cardTextSmaller {
	line-height: 50%;
	margin-top: 6px;
}

#featuredArticle {
	padding: 15px;
}

.shareCard {
  -vendor-animation-duration: .5s;
}

.becauseYou {
	border: none;
	background-color: #f5f5f5;
	min-height: 100px;
    box-shadow: none;
    margin-bottom: -25px;
}

.article-subtitle {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}

.feedTitle {
	padding: 0 10px 10px 10px;
	color: rgba(0,0,0,0.6);
	display: inline-block;
	font-family: Helvetica;
	margin-bottom: -55px;
	width:100%;
}

.feedTitle h4 {
	display: inline-block;
}

.arrow {
	margin-right: 4%;
}
